<!DOCTYPE html>
<html>

<head>
	<title>Title of the document</title>
	<style>
		table {
			width: 600px;
			border: 1px solid black;
			border-collapse: collapse;
		}

		th,
		h3 {
			margin: 2px;

		}

		h6 {
			margin: 2px;

		}

		tr {
			margin: 2px;

		}

		td {
			padding: 2px;
			margin: 2px;
			border: 1px solid black;
			border-collapse: collapse;
		}

		.qr {
			width: 400px;
			height: 100px;
		}

		.center {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center
		}

		.space-between {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.column-flex {
			display: flex;
			flex-direction: column
		}

		.column-center {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 2px;
			padding: 2px
		}
	</style>
</head>

<body>
	<table>
		<tr>
			<td>
				<h4>GAINT FRANCHISE</h4>
			</td>
			<td>
				<img src="https://www.dtdc.in/images/dtdc_logo_new.gif" />
			</td>
		</tr>

	</table>
	<table>
		<tr>

			<td>
				<div class="center">
					<img class="qr" src=<%= shipment.orderQrCode %> />

				</div>
				<div class="space-between">
					<h4>
						<%= shipment.rpin %>
					</h4>
					<h4>
						<%= shipment.sortCode %>
					</h4>
				</div>
			</td>

		</tr>
	</table>
	<table>
		<tr>

			<td>
				<h4>SHIPPING ADDRESS:</h4>
				<h4> <%= shipment.name %> <%= shipment.contact %></h4>
				<p> <%= shipment.shippingAddress %></p>
				<h6> Pin: <%= shipment.rpin %></h6>
				<!-- <div class="columnFlex">

					


				</div> -->

			</td>
			<td>
				<div className="columnCenter">

					<h4>COD</h4>
					<h4> <%= shipment.cod %></h4>

				</div>

			</td>

		</tr>
	</table>


	<table>
		<tr>

			<td>
				<div class="columnFlex">

					<h6>Seller: GAINT LOGISTIC </h6>
					<h6>Address: D - 335 Sector 10 Noida Uttar Pradesh Noida 20130</h6>


				</div>

			</td>
		

		</tr>
	</table>




	<table>

		<tr>

			<td>
				<div class="columnFlex">

					<h6>Product</h6>


				</div>

			</td>
			<td>
				<div class="columnFlex">


					<h6>Price</h6>

				</div>

			</td>
			<td>
				<div className="columnFlex">

					<h6>Total</h6>

				</div>

			</td>

		</tr>


		<tr>
			<td>
				<div class="columnFlex">

					<h6>
						<%= shipment.product %>
					</h6>


				</div>

			</td>

			<td>
				<div class="columnFlex">

					<h6>₹<%= shipment.price %></h6>


				</div>

			</td>
			<td>
				<div class="columnFlex">


					<h6>₹<%= shipment.total %></h6>

				</div>

			</td>


		</tr>

		<tr>
			<td>
				<div class="columnFlex">

					<h6>
						Total
					</h6>


				</div>

			</td>

			<td>
				<div class="columnFlex">

					<h6> ₹<%= shipment.total %></h6>


				</div>

			</td>
			<td>
				<div class="columnFlex">


					<h6>₹<%= shipment.total %></h6>

				</div>

			</td>


		</tr>

	</table>

	<table>
		<tr>

			<td>
				<div class="center">
					<img class="qr" src=<%= shipment.oidBarcode %> />

					<!-- <h6><%= shipment.orderId %></h6> -->

				</div>


			</td>

		</tr>
	</table>

	<table>
		<tr>

			<td>
				<div className="columnCenter">
					<h6>Return Address: D - 335 Sector 10 Noida Uttar Pradesh Noida 201301 - Noida - Uttar Pradesh -
						201301</h6>
				</div>

			</td>

		</tr>
	</table>

</body>

</html>